{
  "openapi": "3.1.0",
  "info": {
    "title": "Datum OpenAPI 3.1.0 Specifications",
    "description": "Programmatic interfaces for interacting with Datum Services",
    "termsOfService": "https://datum.net/tos",
    "contact": {
      "name": "Datum Support",
      "url": "https://datum.net/support",
      "email": "support@datum.net"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.datum.net/v1",
      "description": "Datum Production API Endpoint"
    },
    {
      "url": "http://localhost:17608/v1",
      "description": "http localhost endpoint for testing purposes"
    }
  ],
  "paths": {
    "/entitlements": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "List Entitlements",
        "description": "List Entitlements.",
        "operationId": "listEntitlement",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Entitlement list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entitlement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Create a new Entitlement",
        "description": "Creates a new Entitlement and persists it to storage.",
        "operationId": "createEntitlement",
        "requestBody": {
          "description": "Entitlement to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "FREE",
                      "PRO",
                      "ENTERPRISE"
                    ],
                    "default": "FREE"
                  },
                  "external_customer_id": {
                    "type": "string"
                  },
                  "external_subscription_id": {
                    "type": "string"
                  },
                  "expires": {
                    "type": "boolean"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "cancelled": {
                    "type": "boolean"
                  },
                  "owner": {
                    "type": "string"
                  }
                },
                "required": [
                  "owner_id",
                  "tier",
                  "expires",
                  "cancelled",
                  "owner"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entitlement created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlements/{id}": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Find a Entitlement by ID",
        "description": "Finds the Entitlement with the requested ID and returns it.",
        "operationId": "readEntitlement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entitlement with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Deletes a Entitlement by ID",
        "description": "Deletes the Entitlement with the requested ID.",
        "operationId": "deleteEntitlement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Entitlement with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Updates a Entitlement",
        "description": "Updates a Entitlement and persists changes to storage.",
        "operationId": "updateEntitlement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Entitlement properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "FREE",
                      "PRO",
                      "ENTERPRISE"
                    ],
                    "default": "FREE"
                  },
                  "external_customer_id": {
                    "type": "string"
                  },
                  "external_subscription_id": {
                    "type": "string"
                  },
                  "expires": {
                    "type": "boolean"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "cancelled": {
                    "type": "boolean"
                  },
                  "owner": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entitlement updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlements/{id}/owner": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the Entitlement with the given ID",
        "operationId": "readEntitlementOwner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to Entitlement with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/group-memberships": {
      "get": {
        "tags": [
          "GroupMembership"
        ],
        "summary": "List GroupMemberships",
        "description": "List GroupMemberships.",
        "operationId": "listGroupMembership",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result GroupMembership list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupMembership"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "GroupMembership"
        ],
        "summary": "Create a new GroupMembership",
        "description": "Creates a new GroupMembership and persists it to storage.",
        "operationId": "createGroupMembership",
        "requestBody": {
          "description": "GroupMembership to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMIN",
                      "MEMBER"
                    ],
                    "default": "MEMBER"
                  },
                  "group_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "group": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "role",
                  "group_id",
                  "user_id",
                  "group",
                  "user"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "GroupMembership created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/group-memberships/{id}": {
      "get": {
        "tags": [
          "GroupMembership"
        ],
        "summary": "Find a GroupMembership by ID",
        "description": "Finds the GroupMembership with the requested ID and returns it.",
        "operationId": "readGroupMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GroupMembership with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "GroupMembership"
        ],
        "summary": "Deletes a GroupMembership by ID",
        "description": "Deletes the GroupMembership with the requested ID.",
        "operationId": "deleteGroupMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "GroupMembership with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "GroupMembership"
        ],
        "summary": "Updates a GroupMembership",
        "description": "Updates a GroupMembership and persists changes to storage.",
        "operationId": "updateGroupMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "GroupMembership properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMIN",
                      "MEMBER"
                    ],
                    "default": "MEMBER"
                  },
                  "group": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "GroupMembership updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/group-memberships/{id}/group": {
      "get": {
        "tags": [
          "GroupMembership"
        ],
        "summary": "Find the attached Group",
        "description": "Find the attached Group of the GroupMembership with the given ID",
        "operationId": "readGroupMembershipGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group attached to GroupMembership with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/group-memberships/{id}/user": {
      "get": {
        "tags": [
          "GroupMembership"
        ],
        "summary": "Find the attached User",
        "description": "Find the attached User of the GroupMembership with the given ID",
        "operationId": "readGroupMembershipUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User attached to GroupMembership with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/group-settings": {
      "get": {
        "tags": [
          "GroupSetting"
        ],
        "summary": "List GroupSettings",
        "description": "List GroupSettings.",
        "operationId": "listGroupSetting",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result GroupSetting list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupSetting"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "GroupSetting"
        ],
        "summary": "Create a new GroupSetting",
        "description": "Creates a new GroupSetting and persists it to storage.",
        "operationId": "createGroupSetting",
        "requestBody": {
          "description": "GroupSetting to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "PUBLIC",
                      "PRIVATE"
                    ],
                    "default": "PUBLIC"
                  },
                  "join_policy": {
                    "type": "string",
                    "enum": [
                      "OPEN",
                      "INVITE_ONLY",
                      "APPLICATION_ONLY",
                      "INVITE_OR_APPLICATION"
                    ],
                    "default": "INVITE_OR_APPLICATION"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sync_to_slack": {
                    "type": "boolean"
                  },
                  "sync_to_github": {
                    "type": "boolean"
                  },
                  "group": {
                    "type": "string"
                  }
                },
                "required": [
                  "visibility",
                  "join_policy"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "GroupSetting created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/group-settings/{id}": {
      "get": {
        "tags": [
          "GroupSetting"
        ],
        "summary": "Find a GroupSetting by ID",
        "description": "Finds the GroupSetting with the requested ID and returns it.",
        "operationId": "readGroupSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupSetting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GroupSetting with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "GroupSetting"
        ],
        "summary": "Deletes a GroupSetting by ID",
        "description": "Deletes the GroupSetting with the requested ID.",
        "operationId": "deleteGroupSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupSetting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "GroupSetting with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "GroupSetting"
        ],
        "summary": "Updates a GroupSetting",
        "description": "Updates a GroupSetting and persists changes to storage.",
        "operationId": "updateGroupSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupSetting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "GroupSetting properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "PUBLIC",
                      "PRIVATE"
                    ],
                    "default": "PUBLIC"
                  },
                  "join_policy": {
                    "type": "string",
                    "enum": [
                      "OPEN",
                      "INVITE_ONLY",
                      "APPLICATION_ONLY",
                      "INVITE_OR_APPLICATION"
                    ],
                    "default": "INVITE_OR_APPLICATION"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sync_to_slack": {
                    "type": "boolean"
                  },
                  "sync_to_github": {
                    "type": "boolean"
                  },
                  "group": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "GroupSetting updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/group-settings/{id}/group": {
      "get": {
        "tags": [
          "GroupSetting"
        ],
        "summary": "Find the attached Group",
        "description": "Find the attached Group of the GroupSetting with the given ID",
        "operationId": "readGroupSettingGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the GroupSetting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group attached to GroupSetting with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "List Groups",
        "description": "List Groups.",
        "operationId": "listGroup",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Group list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Create a new Group",
        "description": "Creates a new Group and persists it to storage.",
        "operationId": "createGroup",
        "requestBody": {
          "description": "Group to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "gravatar_logo_url": {
                    "type": "string"
                  },
                  "logo_url": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "string"
                  },
                  "setting": {
                    "type": "string"
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "members": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "owner_id",
                  "name",
                  "display_name",
                  "owner",
                  "setting"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Find a Group by ID",
        "description": "Finds the Group with the requested ID and returns it.",
        "operationId": "readGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Group"
        ],
        "summary": "Deletes a Group by ID",
        "description": "Deletes the Group with the requested ID.",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Group"
        ],
        "summary": "Updates a Group",
        "description": "Updates a Group and persists changes to storage.",
        "operationId": "updateGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Group properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "gravatar_logo_url": {
                    "type": "string"
                  },
                  "logo_url": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "string"
                  },
                  "setting": {
                    "type": "string"
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "members": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/groups/{id}/members": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "List attached Members",
        "description": "List attached Members.",
        "operationId": "listGroupMembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Groups list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupMembership"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/groups/{id}/owner": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the Group with the given ID",
        "operationId": "readGroupOwner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to Group with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/groups/{id}/setting": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Find the attached GroupSetting",
        "description": "Find the attached GroupSetting of the Group with the given ID",
        "operationId": "readGroupSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GroupSetting attached to Group with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/groups/{id}/users": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "List attached Users",
        "description": "List attached Users.",
        "operationId": "listGroupUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Groups list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/integrations": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "List Integrations",
        "description": "List Integrations.",
        "operationId": "listIntegration",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Integration list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Integration"
        ],
        "summary": "Create a new Integration",
        "description": "Creates a new Integration and persists it to storage.",
        "operationId": "createIntegration",
        "requestBody": {
          "description": "Integration to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string"
                  },
                  "secret_name": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Integration created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/integrations/{id}": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "Find a Integration by ID",
        "description": "Finds the Integration with the requested ID and returns it.",
        "operationId": "readIntegration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Integration"
        ],
        "summary": "Deletes a Integration by ID",
        "description": "Deletes the Integration with the requested ID.",
        "operationId": "deleteIntegration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Integration with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Integration"
        ],
        "summary": "Updates a Integration",
        "description": "Updates a Integration and persists changes to storage.",
        "operationId": "updateIntegration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Integration properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Integration updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/integrations/{id}/owner": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the Integration with the given ID",
        "operationId": "readIntegrationOwner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to Integration with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/invites": {
      "get": {
        "tags": [
          "Invite"
        ],
        "summary": "List Invites",
        "description": "List Invites.",
        "operationId": "listInvite",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Invite list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Invite"
        ],
        "summary": "Create a new Invite",
        "description": "Creates a new Invite and persists it to storage.",
        "operationId": "createInvite",
        "requestBody": {
          "description": "Invite to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string"
                  },
                  "recipient": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMIN",
                      "MEMBER",
                      "OWNER"
                    ],
                    "default": "MEMBER"
                  },
                  "owner": {
                    "type": "string"
                  }
                },
                "required": [
                  "owner_id",
                  "recipient",
                  "role",
                  "owner"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invite created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/invites/{id}": {
      "get": {
        "tags": [
          "Invite"
        ],
        "summary": "Find a Invite by ID",
        "description": "Finds the Invite with the requested ID and returns it.",
        "operationId": "readInvite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Invite",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Invite"
        ],
        "summary": "Deletes a Invite by ID",
        "description": "Deletes the Invite with the requested ID.",
        "operationId": "deleteInvite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Invite",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Invite with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Invite"
        ],
        "summary": "Updates a Invite",
        "description": "Updates a Invite and persists changes to storage.",
        "operationId": "updateInvite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Invite",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Invite properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string"
                  },
                  "recipient": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMIN",
                      "MEMBER",
                      "OWNER"
                    ],
                    "default": "MEMBER"
                  },
                  "owner": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invite updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/invites/{id}/owner": {
      "get": {
        "tags": [
          "Invite"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the Invite with the given ID",
        "operationId": "readInviteOwner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Invite",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to Invite with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/oauth-providers": {
      "get": {
        "tags": [
          "OauthProvider"
        ],
        "summary": "List OauthProviders",
        "description": "List OauthProviders.",
        "operationId": "listOauthProvider",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result OauthProvider list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OauthProvider"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "OauthProvider"
        ],
        "summary": "Create a new OauthProvider",
        "description": "Creates a new OauthProvider and persists it to storage.",
        "operationId": "createOauthProvider",
        "requestBody": {
          "description": "OauthProvider to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "redirect_url": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "string"
                  },
                  "auth_url": {
                    "type": "string"
                  },
                  "token_url": {
                    "type": "string"
                  },
                  "auth_style": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 255,
                    "minimum": 0
                  },
                  "info_url": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "client_id",
                  "client_secret",
                  "redirect_url",
                  "scopes",
                  "auth_url",
                  "token_url",
                  "auth_style",
                  "info_url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OauthProvider created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OauthProvider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/oauth-providers/{id}": {
      "get": {
        "tags": [
          "OauthProvider"
        ],
        "summary": "Find a OauthProvider by ID",
        "description": "Finds the OauthProvider with the requested ID and returns it.",
        "operationId": "readOauthProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OauthProvider",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OauthProvider with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OauthProvider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "OauthProvider"
        ],
        "summary": "Deletes a OauthProvider by ID",
        "description": "Deletes the OauthProvider with the requested ID.",
        "operationId": "deleteOauthProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OauthProvider",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OauthProvider with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "OauthProvider"
        ],
        "summary": "Updates a OauthProvider",
        "description": "Updates a OauthProvider and persists changes to storage.",
        "operationId": "updateOauthProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OauthProvider",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "OauthProvider properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "redirect_url": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "string"
                  },
                  "auth_url": {
                    "type": "string"
                  },
                  "token_url": {
                    "type": "string"
                  },
                  "auth_style": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 255,
                    "minimum": 0
                  },
                  "info_url": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OauthProvider updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OauthProvider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/oauth-providers/{id}/owner": {
      "get": {
        "tags": [
          "OauthProvider"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the OauthProvider with the given ID",
        "operationId": "readOauthProviderOwner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OauthProvider",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to OauthProvider with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/oh-auth-too-tokens": {
      "get": {
        "tags": [
          "OhAuthTooToken"
        ],
        "summary": "List OhAuthTooTokens",
        "description": "List OhAuthTooTokens.",
        "operationId": "listOhAuthTooToken",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result OhAuthTooToken list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhAuthTooToken"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "OhAuthTooToken"
        ],
        "summary": "Create a new OhAuthTooToken",
        "description": "Creates a new OhAuthTooToken and persists it to storage.",
        "operationId": "createOhAuthTooToken",
        "requestBody": {
          "description": "OhAuthTooToken to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "claims_user_id": {
                    "type": "string"
                  },
                  "claims_username": {
                    "type": "string"
                  },
                  "claims_email": {
                    "type": "string"
                  },
                  "claims_email_verified": {
                    "type": "boolean"
                  },
                  "claims_groups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "claims_preferred_username": {
                    "type": "string"
                  },
                  "connector_id": {
                    "type": "string"
                  },
                  "connector_data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "last_used": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "client_id",
                  "nonce",
                  "claims_user_id",
                  "claims_username",
                  "claims_email",
                  "claims_email_verified",
                  "claims_preferred_username",
                  "connector_id",
                  "last_used"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OhAuthTooToken created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OhAuthTooToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/oh-auth-too-tokens/{id}": {
      "get": {
        "tags": [
          "OhAuthTooToken"
        ],
        "summary": "Find a OhAuthTooToken by ID",
        "description": "Finds the OhAuthTooToken with the requested ID and returns it.",
        "operationId": "readOhAuthTooToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OhAuthTooToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OhAuthTooToken with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OhAuthTooToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "OhAuthTooToken"
        ],
        "summary": "Deletes a OhAuthTooToken by ID",
        "description": "Deletes the OhAuthTooToken with the requested ID.",
        "operationId": "deleteOhAuthTooToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OhAuthTooToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OhAuthTooToken with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "OhAuthTooToken"
        ],
        "summary": "Updates a OhAuthTooToken",
        "description": "Updates a OhAuthTooToken and persists changes to storage.",
        "operationId": "updateOhAuthTooToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OhAuthTooToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "OhAuthTooToken properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "claims_user_id": {
                    "type": "string"
                  },
                  "claims_username": {
                    "type": "string"
                  },
                  "claims_email": {
                    "type": "string"
                  },
                  "claims_email_verified": {
                    "type": "boolean"
                  },
                  "claims_groups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "claims_preferred_username": {
                    "type": "string"
                  },
                  "connector_id": {
                    "type": "string"
                  },
                  "connector_data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "last_used": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OhAuthTooToken updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OhAuthTooToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/org-memberships": {
      "get": {
        "tags": [
          "OrgMembership"
        ],
        "summary": "List OrgMemberships",
        "description": "List OrgMemberships.",
        "operationId": "listOrgMembership",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result OrgMembership list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrgMembership"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "OrgMembership"
        ],
        "summary": "Create a new OrgMembership",
        "description": "Creates a new OrgMembership and persists it to storage.",
        "operationId": "createOrgMembership",
        "requestBody": {
          "description": "OrgMembership to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMIN",
                      "MEMBER",
                      "OWNER"
                    ],
                    "default": "MEMBER"
                  },
                  "organization_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "role",
                  "organization_id",
                  "user_id",
                  "organization",
                  "user"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OrgMembership created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/org-memberships/{id}": {
      "get": {
        "tags": [
          "OrgMembership"
        ],
        "summary": "Find a OrgMembership by ID",
        "description": "Finds the OrgMembership with the requested ID and returns it.",
        "operationId": "readOrgMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrgMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OrgMembership with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "OrgMembership"
        ],
        "summary": "Deletes a OrgMembership by ID",
        "description": "Deletes the OrgMembership with the requested ID.",
        "operationId": "deleteOrgMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrgMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OrgMembership with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "OrgMembership"
        ],
        "summary": "Updates a OrgMembership",
        "description": "Updates a OrgMembership and persists changes to storage.",
        "operationId": "updateOrgMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrgMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "OrgMembership properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMIN",
                      "MEMBER",
                      "OWNER"
                    ],
                    "default": "MEMBER"
                  },
                  "organization": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OrgMembership updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/org-memberships/{id}/organization": {
      "get": {
        "tags": [
          "OrgMembership"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the OrgMembership with the given ID",
        "operationId": "readOrgMembershipOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrgMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to OrgMembership with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/org-memberships/{id}/user": {
      "get": {
        "tags": [
          "OrgMembership"
        ],
        "summary": "Find the attached User",
        "description": "Find the attached User of the OrgMembership with the given ID",
        "operationId": "readOrgMembershipUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrgMembership",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User attached to OrgMembership with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/organization-settings": {
      "get": {
        "tags": [
          "OrganizationSetting"
        ],
        "summary": "List OrganizationSettings",
        "description": "List OrganizationSettings.",
        "operationId": "listOrganizationSetting",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result OrganizationSetting list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationSetting"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "OrganizationSetting"
        ],
        "summary": "Create a new OrganizationSetting",
        "description": "Creates a new OrganizationSetting and persists it to storage.",
        "operationId": "createOrganizationSetting",
        "requestBody": {
          "description": "OrganizationSetting to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sso_cert": {
                    "type": "string"
                  },
                  "sso_entrypoint": {
                    "type": "string"
                  },
                  "sso_issuer": {
                    "type": "string"
                  },
                  "billing_contact": {
                    "type": "string"
                  },
                  "billing_email": {
                    "type": "string"
                  },
                  "billing_phone": {
                    "type": "string"
                  },
                  "billing_address": {
                    "type": "string"
                  },
                  "tax_identifier": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "organization": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OrganizationSetting created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/organization-settings/{id}": {
      "get": {
        "tags": [
          "OrganizationSetting"
        ],
        "summary": "Find a OrganizationSetting by ID",
        "description": "Finds the OrganizationSetting with the requested ID and returns it.",
        "operationId": "readOrganizationSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrganizationSetting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OrganizationSetting with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "OrganizationSetting"
        ],
        "summary": "Deletes a OrganizationSetting by ID",
        "description": "Deletes the OrganizationSetting with the requested ID.",
        "operationId": "deleteOrganizationSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrganizationSetting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OrganizationSetting with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "OrganizationSetting"
        ],
        "summary": "Updates a OrganizationSetting",
        "description": "Updates a OrganizationSetting and persists changes to storage.",
        "operationId": "updateOrganizationSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the OrganizationSetting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "OrganizationSetting properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sso_cert": {
                    "type": "string"
                  },
                  "sso_entrypoint": {
                    "type": "string"
                  },
                  "sso_issuer": {
                    "type": "string"
                  },
                  "billing_contact": {
                    "type": "string"
                  },
                  "billing_email": {
                    "type": "string"
                  },
                  "billing_phone": {
                    "type": "string"
                  },
                  "billing_address": {
                    "type": "string"
                  },
                  "tax_identifier": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "organization": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OrganizationSetting updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
[...]
